<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Top Reddit Post</title>
</head>

<body>
    <div id="app" class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <h1>Top Reddit Posts</h1>
            </div>
        </div>
        <form @submit="getPosts">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">/r/</span>
                                </div>
                                <input type="text" class="form-control" placeholder="subreddit" aria-label="subreddit"
                                    aria-describedby="subreddit" v-model="subreddit">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Limit</span>
                                </div>
                                <input type="number" class="form-control" placeholder="limit" aria-label="limit"
                                    aria-describedby="subreddit" v-model="limit">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Sorting</span>
                                </div>
                                <select id="category" v-model="category" class="form-control">
                                    <option value="new">New</option>
                                    <option value="best">Best</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="includeOther"
                                    v-model="includeOther">
                                <label class="custom-control-label" for="includeOther">Include Other</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-3" v-for="(keyword, index) in keywords">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input :id="'keyword' + index" v-model="keywords[index].label"
                                    :placeholder="'Key word ' + (index+1)" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger"
                                        @click="removeItem(index)">Remove</button>
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                <button type="button" class=" btn btn-primary" @click="addAnother">Add Another</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Get Top posts</button>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                    v-bind:style="{ width: current/limit*100 + '%'}"></div>
            </div>
        </form>
        <div id="piechart" style="width: 100%; height: 800px; display:none;"></div>

    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/utils.js"></script>
</body>

</html>